$background-color: #ffffff;
$piano-color: #ffffff;
$piano-border-color: #e3e2e2;
$piano-light-key-color: #ffffff;
$piano-light-key-hover-color: #ffffffbd;
$piano-light-key-active-color: #ffb0b0c5;
$piano-light-key-assigned-key-text-color: #000000;
$piano-dark-key-color: #000000;
$piano-dark-key-hover-color: #424242;
$piano-dark-key-active-color: #001076;
$piano-dark-key-assigned-key-text-color: #ffffff;

$piano-keys-holder-color: #000000;

html {
  font-size: 1.5vw;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: $background-color;
  padding: 3vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  align-items: center;
  justify-content: center;
}

.piano {
  display: flex;
  flex-direction: column;
  gap: .5vh;
  box-sizing: border-box;

  width: fit-content;
  height: fit-content;

  border: 2px solid $piano-border-color;
  border-radius: 2vw;
  background-color: $piano-color;
}

.piano__control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.piano__control-panel__mode-panel-holder__melody-container,
.piano__control-panel__mode-panel-holder {
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 2px solid $piano-border-color;
  border-radius: 1vw;
  margin: 2vh 2vw;
}

.piano__control-panel__mode-panel-holder__mode-holder {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.piano__control-panel__mode-panel-holder__melody-container {
  padding: 1vw 1vh;
}

.piano__keys-holder {
  position: relative;
  width: fit-content;
  height: fit-content;
  flex-grow: 1.5;
  background-color: $piano-keys-holder-color;
  border-radius: 1.5vw;
  margin: 1vw;
  padding: .5vw;
}

.piano__keys-holder__light-key-holder {
  display: flex;
  gap: 0.3vw;

  .piano__keys-holder__light-key {
    &:first-child {
      border-top-left-radius: 1.5vw;
    }

    &:last-child {
      border-top-right-radius: 1.5vw;
    }
  }
}

.piano__keys-holder__light-key {
  flex: 0 0 auto;
  min-width: 30px;
  max-width: 100px;
  height: 50vh;
  background-color: $piano-light-key-color;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &:hover {
    background-color: $piano-light-key-hover-color;
  }

  &.active,
  &:active {
    background-color: $piano-light-key-active-color;
  }
}

.piano__keys-holder__dark-key-holder {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.piano_keys-holder__dark-key-holder__dark-key {
  pointer-events: auto;
  position: absolute;
  height: 28vh;
  min-width: 15px;
  max-width: 50px;
  background-color: $piano-dark-key-color;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  margin-top: .5vh;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &:hover {
    background-color: $piano-dark-key-hover-color;
  }

  &.active,
  &:active {
    background-color: $piano-dark-key-active-color;
  }
}

.piano__keys-holder__dark-key__assigned-key-label,
.piano__keys-holder__light-key__assigned-key-label {
  aspect-ratio: 1 / 1;
  padding: 4px;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.piano__keys-holder__light-key__assigned-key-label {
  min-width: 2vw;
  color: $piano-light-key-assigned-key-text-color;
}

.piano__keys-holder__dark-key__assigned-key-label {
  min-width: 1.5vw;
  color: $piano-dark-key-assigned-key-text-color;
}

.piano__control-panel__mode-panel-holder__melody-container {
  display: flex;
  flex-direction: column;
}